# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# --- PlatformIO / ESP32 ---
.pio/
.pioenvs/
.piolibdeps/

# --- Build artifacts ---
*.bin
*.elf
*.map

# --- IDE / editor local state ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# --- OS ---
.DS_Store
Thumbs.db


# --- Debug ---
logs/
*.log